@charset "UTF-8";
/* CSS Document */

/* ======================
Basic
====================== */
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input {
margin:0;
padding:0;
}

li { list-style-type: none;}

a:link, a:visited {color: #1681b2; text-decoration:none;}
a:hover {color: #1f9dd9;  text-decoration:none;}
a img {vertical-align: bottom;}


/* ======================
page
====================== */

#page {
	font-family:"メイリオ", 'Lucida Grande', 'Hiragino Kaku Gothic Pro', "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", Meiryo, Geneva, Arial, Verdana, sans-serif;
	font-size:12px;
	line-height:150%;
	list-style:none;
	text-align: left;
	}

#container {
	margin-right: auto;
	margin-left: auto;
	width: 980px;
}


/* ======================
Clearfix
====================== */

.clearfix:after {  
  content: ".";   
  display: block;   
  height: 0;   
  clear: both;   
  visibility: hidden;  
}  

/* ======================
レイアウト
====================== */

/* メインカラム */

#mainColumn {
	width: 710px;
	margin:0 30px 0 0;
	float: left;
}

/* 右カラム */
#rightColumn {
	width: 	240px;
	float: right;
	background-color:#1681B2;
}


/* ======================
parts
====================== */

/*パンくず*/

#pankuzu {
	margin: 10px auto 10px auto;
}

/*オレンジアイコンの見出し*/

#headlineRctOrg {
	margin: 15px 0 20px 0;
}

#headlineIconOrg {
	float: left;
}

#headlineRctOrgH2 {
	font-size: 16px;
	padding-left: 15px;
}

/*オレンジ文字の見出し*/

#headlineOrgH2 {
	font-size: 14px;
	color: #FF9800;
	margin-bottom: 10px;
}