@charset "UTF-8";
/* CSS Document */


#header {
	height: auto;
}

#headerLine {
	height: 5px;
	background-color: #263248;
	margin-bottom: 10px;
	width:100%;
}


#headerContainer {
	margin-right: auto;
	margin-left: auto;
	width: 940px;
	height: 40px;
}


#headerLogo {
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
}


h1 {
	float: left;
	font-size: 10px;
	margin-top: 10px;
	color: #828283;
}



#headerNavi {
	float: right;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

#headerNavi img {
	float: left;
	margin-top: 2px;
}	

#headerNavi h2 {
	font-size: 12px;
	padding-left: 10px;
}

#headerNavi ul {
	float: left;
}

#headerNavi li {
	display: inline-block;
	margin-left: 15px;
	}




