@charset "UTF-8";
/* CSS Document */


/* 問題 */

#question {
	width: 640px;  /* ホントは680で指定しなきゃいけないんだけど、680にするとなぜかはみ出す。 */ 
	border: outset 3px  #CCCCCC;
	border-radius: 8px;
	-webkit-border-radius: 8px;    /* 角丸　Safari,Google Chrome用 */  
    -moz-border-radius: 8px;   /* 角丸　Firefox用 */ 
	padding: 20px 15px 7px 15px;
	margin: 10px 0 0 0;
}

#questionHeaderTitle {
	float: left;
}

#questionHeaderTitleH2 {
	font-size: 16px;
	font-weight: bold;
}

#questionHeaderCount {
	font-size: 10px;
	color: #999;
}

#questionContent {
	margin-top: 20px;
	margin-bottom: 20px;
}

#questionFooter {
	text-align: right;
}


#postAnswer {
	width: 680px;
	margin-top: 30px;
}

#postAnswerBtn {
	text-align: right;
	margin-top: 10px;
}

#showAnswers {
	width: 680px;
	margin-top: 30px;
}

#answer {
	border: outset 1px #ECECFB;
	border-radius: 8px;
	-webkit-border-radius: 8px;    /* 角丸　Safari,Google Chrome用 */  
    -moz-border-radius: 8px;   /* 角丸　Firefox用 */ 
	padding: 20px 30px 30px 30px;
	margin-top: 10px;
}

#answerHeader {
	text-align: right;
	margin-bottom: 10px;
}

