@charset "UTF-8";
/* CSS Document */


/* 問題 */

#question {
	width: 640px;  /* ホントは680で指定しなきゃいけないんだけど、680にするとなぜかはみ出す。 */ 
	border: outset 3px  #CCCCCC;
	border-radius: 8px;
	-webkit-border-radius: 8px;    /* 角丸　Safari,Google Chrome用 */  
    -moz-border-radius: 8px;   /* 角丸　Firefox用 */ 
	padding: 20px 15px 7px 15px;
	margin: 0 0 0 0;
}

#questionHeaderTitle {
	float: left;
}

#questionHeaderTitleH1 {
	font-size: 16px;
	font-weight: bold;
}

#questionHeaderCount {
	font-size: 10px;
	color: #1681b2;
}

#questionContent {
	margin-top: 20px;
	margin-bottom: 20px;
}

#questionFooter {
	text-align: right;
}


/* 解答を投稿 */


#postAnswer {
	width: 680px;
	margin-top: 30px;
}


#postAnswerBtn {
	text-align: right;
	margin-top: 10px;
}

/* 他の人の解答を見る　*/

#showAnswers {
	width: 680px;
	margin: 30px 0 70px 0;
}

.answer {
	border: outset 1px #ECECFB;
	border-radius: 8px;
	-webkit-border-radius: 8px;    /* 角丸　Safari,Google Chrome用 */  
    -moz-border-radius: 8px;   /* 角丸　Firefox用 */ 
	padding: 20px 30px 30px 30px;
	margin: 10px 0 20px 0;
}

.answerHeader {
	text-align: right;
	margin-bottom: 10px;
}

.answerName {
	float: left;
	font-weight: bold;
}

.answerCreated {
	text-align: right;
}

